{% load static %}
<!doctype html>
<html lang="pt">
  <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <title>Recuperação da palavra-passe concluída - {{view.kwargs.club.name}}</title>
      <link rel="icon" href="{{view.kwargs.club.image.url}}">
      <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
      <link href="{% static '/fontawesome/css/all.css' %}" rel="stylesheet">
  </head>
  <body class="bg-dark text-white min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container text-center mb-5 pb-5" id="login">
        <img class="img-fluid img-responsive" style="width: 125px; height: 125px" src="{{view.kwargs.club.image.url}}" alt="">
        <h4 class="pt-3">{{view.kwargs.club.name}}</h4>
        <h5 class="pt-2">Recuperação da palavra-passe concluída!</h5>
        <p>Clique <a href="{% url 'login' %}">aqui</a> para iniciar sessão!</p>
    </div>
    <script src="{% static '/js/bootstrap.bundle.js' %}"></script>
  </body>
</html>